# Build scripts and Jenkins files should be audited by BLT
# Any changes to source code of corda-api to be reviewd by C5 team leads

Jenkinsfile        @corda/infrastructure-release
.ci/**             @corda/infrastructure-release

gradle/wrapper     @corda/infrastructure-release
*.toml             @corda/corda5-team-leads

*.gradle           @corda/infrastructure-release
gradle.properties  @corda/corda5-team-leads

*.kt               @corda/corda5-team-leads
*.java             @corda/corda5-team-leads

**/scans/*.yaml    @corda/corda5-team-leads

CODEOWNERS         @corda/infrastructure-release @corda/corda5-team-leads